body   {  
    height: 125px;  
    margin-top: 80px;  
    padding: 30px;  
    background-size: cover;  
    font-family: Georgia, 'Times New Roman', Times, serif; 
}  

h3 {
    text-align: center;
}

img {
    width: 300px;
    height: 250px;
}

header {  
    background-color: lavender;  
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 5px;  
    height: 30px;  
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 25px 0 black;  
}  
    
header * {  
    display: inline;  
}  
    
header h1 {
    color: black;
}
    
header li {  
    margin: 20px;  
} 
    
header li a {  
    color: rgb(76, 9, 76);  
    text-decoration: none;  
}  
main {
    text-align: center;
}

footer {      
    position: fixed;
    left: 28%;    
    bottom: 15px;  
    height: 30px;  
    display: flex;  
    align-items: center;  
      
}  
    
footer * {  
    display: inline;  
}  
    
footer h1 {
    color: black;
}
    
footer li {  
    margin: 20px;  
} 
    
footer li a {  
    color: rgb(76, 9, 76);  
    text-decoration: none;  
}
    